/* ==========================================================================Base styles========================================================================== */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-primary), sans-serif;
}
a {
  text-decoration: none !important;
}
:root {
  --font-primary: "Poppins";
  --color-primary: #efefef;
  --color-secundary: #111367;
  /* cor escura, não dar out contraste com o branco */
  --color-tertiary: #120b38;
  --grey: #5c5c5c;
  --dark: #101010;
  --light: #f4f4f4;
  --border-radius: 0.25em;
  --border-color: #dee2e6;
  --wrapper-width: 1200px;
  --slider-height: 527.97px;
  --azul-solucs-rgb: 41, 96, 194;
  --azul-solucs: #2a60c2;
  --transition: 0.3s ease-out;
}

.bg-color {
  background: var(--color-secundary);
}

.color_details {
  color: var(--color-secundary);
}

.clear {
  clear: both;
}

/** A better looking default horizontal rule*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f4ff !important;
}
/** Remove the gap between images, videos, audio and canvas and the bottom of* their containers: h5bp.com/i/440*/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/** Remove default fieldset styles.*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/** Allow only vertical resizing of textareas.*/
textarea {
  resize: vertical;
}

/*SCROLL ASIDE*/
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 8px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #3f484e;
}

/*END SCROLL ASIDE*/

/*==========================================================================Geral==========================================================================*/
body {
  font-size: 1rem;
  font-family: var(--font-primary), sans-serif;
  color: #444;
  background-color: #f2f4ff;
}

h1 {
  color: #1b2124;
  font-size: 24px;
  text-decoration: none;
  margin: 20px 0;
}

h2 {
  font-size: inherit;
  text-decoration: none;
  color: var(--second-color);
}

.white {
  color: white;
}

h3,
h4 {
  font-size: 12px;
  color: #3f484e;
  text-decoration: none;
  /* margin: 15px 0; */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.tel {
  text-decoration: none;
  color: inherit;
  display: block;
}

/*==================================================Header==================================================*/
header #menu2 ul {
  margin: 0;
}

header #menu2 > ul {
  margin-left: 30px;
}

.topofixo {
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0px;
}

.topofixo-aftermove {
  background-color: #f1eeeee8 !important;
}

.topofixo :is(.d-block, header #menu2 a) {
  color: var(--dark);
}

header#scrollheader {
  background-color: var(--light);
  padding: 2px;
}

.topofixo .logo img {
  width: 80px;
  transition: 0.3s;
}

.topofixo #menu2 {
  font-size: 14px;
  margin: 5px 0;
  margin-right: 10px;
}

.topofixo .topo {
  display: none;
}

header .logo {
  width: 100px;
  display: flex;
  justify-content: center;
}

header .logo img {
  display: block;
  width: 100px;
}

header .right {
  float: right;
  text-align: right;
  color: #666;
  font-size: 12px;
  margin: 17px 0px;
}

header .right strong {
  font-size: 20px;
}

/* TOPO MOBILE */

/* HIDE ON DESKTOP */

.show-mobile {
  display: none;
}

.flex-top-icons {
  display: none;
}

/* SHOW ON MOBILE */
@media only screen and (max-width: 765px) {
  .col-6 {
    width: 100% !important;
  }

  .d-block {
    display: inline !important;
  }

  .row {
    padding: 20px;
    border-bottom: 1px solid #000;
    flex-direction: column;
  }

  .box-img-random {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botao-cotar {
    padding: 10px 15px !important;
  }

  .show-mobile {
    display: block;
  }
}

/* END TOPO MOBILE */

/*==================================================Menu==================================================*/
header #menu {
  clear: both;
  position: relative;
  background: #e4e4e4;
  font-size: 15px;
  text-align: center;
}

header #menu li {
  position: relative;
  display: inline-block;
}

header #menu a {
  display: block;
  color: #666;
  text-decoration: none;
  padding: 10px 30px;
  text-align: center;
  transition: all 0.3s linear;
  /* Efeito de Transição dos itens do header #menu e sub-header #menu */
}

header #menu a:hover,
header #menu li:hover a {
  color: var(--color-primary);
  background: #3f484e;
}

header #menu table {
  border-collapse: collapse;
  position: absolute;
  left: 0;
  top: 0;
}

header #menu .dropdown .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  height: auto;
  width: 230px;
  z-index: 7;
  background: #3f484e;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

header #menu .dropdown:hover .sub-menu {
  display: block;
}

header #menu .dropdown:hover .sub-menu li {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

header #menu .dropdown:hover .sub-menu li a {
  display: block;
  width: 100%;
  font-size: 13px;
  padding: 5px;
  height: auto;
  text-align: left;
  text-decoration: none;
  color: var(--color-primary);
  box-sizing: border-box;
}

header #menu .dropdown:hover .sub-menu li a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: var(--color-primary);
  /* text-decoration:underline; */
}

header #menu .dropdown ul li.dropdown .sub-menu {
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  margin: 0;
  height: auto;
  width: 190px;
  z-index: 7;
}

header #menu .dropdown ul li.dropdown:hover .sub-menu {
  display: block;
}

header #menu .dropdown .sub-menu-info {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  height: 400px;
  width: 300px;
  z-index: 7;
  background: #3f484e;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

header #menu .dropdown:hover .sub-menu-info {
  display: block;
}

header #menu .dropdown:hover .sub-menu-info li {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

header #menu .dropdown:hover .sub-menu-info li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  padding: 5px;
  height: auto;
  text-align: left;
  text-decoration: none;
  color: var(--color-primary);
}

header #menu .dropdown:hover .sub-menu-info li a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: var(--color-primary);
}

header #menu .dropdown ul li.dropdown .sub-menu-info {
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  margin: 0;
  height: auto;
  width: 190px;
  z-index: 7;
}

header #menu .dropdown ul li.dropdown:hover .sub-menu-info {
  display: block;
}

header #menu2 {
  text-align: center;
  float: right;
}

header #menu2 li {
  position: relative;
  display: inline-block;
}

header #menu2 li a i {
  transform: rotate(-90deg);
  /* Rotaciona o elemento para cima */
  display: flex;
  transition: transform 0.5s ease;
  /* Suaviza a transição da rotação */
  align-items: center;
}

header #menu2 > ul > li.dropdown > a {
  background-color: var(--color-secundary);
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
}

header #menu2 a {
  font-size: 1rem;
  display: flex;
  font-weight: 500;
  flex-direction: row-reverse;
  gap: 10px;
  color: var(--dark);
  text-decoration: none;
  padding: 8px 30px;
  text-align: center;
}

.topofixo a::before {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition-delay: 0s, .2s;
  /* background-color: var(--light) !important; */
}

header #menu2 a:hover{
  color: var(--color-secundary);
}

#menu2 > ul > li.dropdown > ul > li > ul > li > a::before {
  top: 13px;
}




header #menu2 li:hover a i {
  transform: rotate(0deg);
}

header #menu2 table {
  border-collapse: collapse;
  position: absolute;
  left: 0;
  top: 0;
}

header #menu2 .dropdown [class*="sub-menu"] {
  display: none;
  position: absolute;
  top: 100%;
  /* left: 0px; */
  margin: 0;
  height: auto;
  width: 308px;
  /* height: 340px; */
  /* overflow-x: hidden; */
  z-index: 7;
  background-color: var(--light);
  /* color: black; */
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 22px -11px 15px -7px rgba(0, 0, 0, 0.1);
}

header #menu2 .dropdown [class*="sub-menu-info"] {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 400px;
}

header #menu2 .dropdown:hover > [class*="sub-menu"] {
  display: block;
}

header #menu2 .dropdown:hover [class*="sub-menu"] li {
  position: relative;
  width: 100%;
  margin: 0;
}

header #menu2 .dropdown:hover [class*="sub-menu"] li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  text-decoration: none;
  color: var(--dark);
  font-size: 0.8rem;
  text-transform: uppercase;
  height: auto;
  font-weight: 600;
  letter-spacing: 0.04em;
  transition: all 0.4s;
}

header #menu2 .dropdown:hover [class*="sub-menu"] li a:hover {
}

header #menu2 .dropdown [class*="sub-menu"] [class*="sub-menu"] {
  top: 0px;
  left: -98%;
  position: absolute;
  border: unset;
  display: block;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

/*==================================================Content==================================================*/
.wrapper {
  max-width: var(--wrapper-width);
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.wrapper-produtos {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
}

.container {
  max-width: 1920px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0;
  clear: both;
}

section {
  width: 100%;
  padding: 0;
  min-height: 240px;
}

section p,
section ul li {
  font-size: 14px;
  text-align: justify;
}

article {
  float: left;
  width: 70%;
}

article strong {
  font-weight: 700;
}

article.full {
  width: 100%;
}

article .alerta {
  font-size: 12px;
  color: #444;
  font-weight: bold;
}

.list {
  margin: 0 0 20px 40px;
}

.list li {
  list-style: disc;
  margin: 5px 0;
  line-height: 1.5em;
  /*font-size: 14px;*/
}

.picture-legend {
  background: #eee;
  display: inline-block;
  padding: 3px;
}

.picture-legend strong {
  clear: both;
  display: block;
  text-align: right;
  font-weight: normal;
  padding: 4px;
  font-size: 9px;
}

.picture-legend img {
  margin: 0 auto;
  display: block;
  height: 200px;
  width: 200px;
}

.picture-center {
  margin: 0 auto;
  display: block;
}

.btn {
  text-decoration: none;
  color: var(--light);
  background: var(--color-secundary);
  border-radius: 0.25rem;
  transition: 0.3s;
  padding: 10px;
}

.btn::after {
  transition: 0.3s;
  content: "\f101";
  color: var(--light);
  font-family: "FontAwesome";
  padding-left: 5px;
}

.btn:hover {
  background-color: #5c5c5c;
}

.btn:hover::after {
  padding-left: 10px;
}

.topo {
  background: #3f484e;
  color: white;
  font-size: 13px;
  padding: 8px 10px;
}

.topo a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

header .topo .social {
  display: inline-block;
}

/*==================================================Thumbnails==================================================*/
.thumbnails-main {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  text-align: center;
}

.thumbnails-main li:hover img {
  opacity: 0.8;
  transform: scale(1.2);
}

.thumbnails-main li:hover h2 {
  opacity: 0.9;
}

.thumbnails-main img {
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.thumbnails-main h2 {
  transition: 0.3s;
}

.thumbnails-main a {
  text-decoration: none;
  /* display: flex; */
  margin: 0 auto;
}

.thumbnails-main {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.thumbnails-main li {
  display: flex;
  margin: 20px auto;
  border-bottom: 1px solid #333;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

.thumbnails-main li img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

.thumbnails-main li p {
  text-align: center;
  text-transform: uppercase;
  color: #666;
  font-weight: 400;
  font-size: 10px;
}

.thumbnails-main h2 a,
.thumbnails-main h3 a,
.thumbnails-main h4 a {
  font-size: 13px;
  color: #000;
  font-weight: 700;
  justify-content: center;
  /* margin: 10px auto; */
}

.thumbnails-main li .botao,
.thumbnails-main li .botao-cotar {
  padding: 5px 10px;
  color: var(--color-primary);
  margin: auto;
  font-size: 14px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 0 30px 15px;
  justify-content: center;
}

.thumbnails-main li .botao {
  background: #f98c18;
  text-decoration: none;
}

.thumbnails-main li .botao:hover {
  background-color: #469b42;
}

.thumbnails-main li .botao-cotar {
  background: #f98c18;
  text-decoration: none;
}

.thumbnails-main li .botao-cotar:hover {
  background-color: #167ac6;
}

.thumbnails-mod6 {
  display: inline-block;
  list-style: none;
  list-style-type: none;
}

.thumbnails-mod6 li {
  float: left;
  border: 2px solid #c7c7c9;
  width: 180px;
  height: 230px;
  margin: 10px 8px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
}

.thumbnails-mod6 li:hover {
  border: 2px solid #9f9fa0;
  box-shadow: 2px 2px 2px #9f9fa0;
}

.thumbnails-mod6 li:hover img {
  opacity: 0.9;
}

.thumbnails-mod6 img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  transition: 0.2s;
}

.thumbnails-mod6 li:hover h2 {
  opacity: 0.9;
}

.thumbnails-mod6 h2 {
  font-size: 10px;
  height: 32px;
  padding: 8px 0px;
  margin-top: 0;
  border-top: 2px solid #ccc;
}

.thumbnails-mod6 a {
  text-decoration: none;
  color: #666;
}

.thumbnails-mod6 a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 765px) {
  .logo {
    padding: 10px 0px;
  }

  .thumbnails-mod6 {
    text-align: center;
    width: 100%;
  }

  .thumbnails-mod6 li {
    margin: 20px auto;
    float: none;
  }

  .main-mpi-container {
    padding: 0px 10px !important;
  }

  .table-info {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.thumbnails {
  display: inline-block;
  list-style: none;
  list-style-type: none;
}

.thumbnails a:hover {
  text-decoration: none;
}

/*==================================================Includes==================================================*/
/*  Tabs regiões  */
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#servicosTabsDois .list-wrap {
  background: #eee;
  padding: 10px;
  margin: 0 0 15px 0;
  font-size: 10px;
  height: auto !important;
}

#servicosTabsDois ul {
  list-style: none;
  display: inline-block;
}

#servicosTabsDois .list-wrap li {
  width: 160px;
  float: left;
  color: #666;
}

#servicosTabsDois .list-wrap li strong {
  font-size: 11px;
}

#servicosTabsDois .nav {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#servicosTabsDois .nav li {
  float: left;
  margin: 0 10px 0 0;
}

#servicosTabsDois .nav li.last {
  margin-right: 0;
}

#servicosTabsDois .nav li a {
  display: block;
  text-decoration: none;
  padding: 12px;
  background: #ddd;
  transition: all 0.3s linear;
  color: #666;
  font-size: 12px;
  text-align: center;
  border: 0;
}

#servicosTabsDois .nav li a:hover,
#servicosTabsDois .nav li a:focus {
  background: #999;
  color: var(--color-tertiary);
}

#servicosTabsDois ul li.nav-two a.current {
  background-color: #eee !important;
  color: #666;
}

/*  Copyright  */
.copyright {
  font-size: 10px;
  color: #666;
  margin-bottom: 15px;
}

.copyright a {
  font-size: 10px;
  color: #666;
}

/*==================================================Footer==================================================*/
footer {
  clear: both;
  padding: 10px;
  background-color: var(--color-secundary);
  font-family: var(--font-primary);
}

.contact-footer {
  float: left;
  color: #eee;
  margin-right: 30px;
}

.contact-footer strong {
  font-size: 18px;
  /* letter-spacing: -1px; */
}

.contact-footer a {
  text-decoration: none;
  color: var(--color-primary);
  line-height: 25px;
}

footer address {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
}

footer address span {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

footer .menu-footer {
  text-align: right;
}

footer .menu-footer nav {
  margin: 3px 0;
}

footer .menu-footer nav li {
  display: inline;
  padding: 0 10px 0 0;
}

footer .menu-footer nav li:last-of-type {
  padding: 0;
}

footer .menu-footer nav li a {
  color: #eee;
  font-size: 13px;
  text-decoration: none;
}

footer .menu-footer nav li a:hover {
  color: #bbb;
}

footer .social {
  margin: 15px 0 0 0;
  float: right;
}

footer .social .social-icons:hover {
  opacity: 1;
  background: var(--color-primary);
  color: #3f484e;
}

footer .social .social-icons {
  width: auto;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.3s;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5px;
  float: right;
  font-size: 18px;
  background: #3f484e;
  color: var(--color-primary);
  width: 40px;
  height: 40px;
  text-align: center;
  /* box-shadow: 2px 2px 2px #ccc; */
}

.copyright-footer {
  text-align: left;
  font-size: 15px;
  color: var(--light);
  padding: 20px 0;
  background-color: var(--color-secundary);
}

.copyright-footer .selos {
  float: right;
}

.copyright-footer .selos strong {
  background: var(--light);
  color: #363b36;
  padding: 0px 5px;
}

.copyright-footer .selos a {
  margin: 0 0 0 5px;
  color: #b7b7b7;
  text-decoration: none;
  opacity: 0.8;
  transition-property: all;
  transition-duration: 0.3s;
}

.copyright-footer .selos a:hover {
  opacity: 1;
}

/*==================================================Sitemap==================================================*/
.sitemap {
  margin-left: 30px;
  list-style: none;
  list-style-type: none;
}

.sitemap li {
  font-size: 15px;
  margin: 10px 0;
}

.sitemap li a {
  color: #000;
  font-size: 20px !important;
  line-height: 25px;
  text-decoration: none;
}

.sitemap li a:hover {
  color: #0a5bfd !important;
}

.sitemap li ul {
  margin-left: 35px;
  list-style: none;
  list-style-type: none;
}

.sitemap li ul li {
  margin: 5px 0;
  padding: 0;
}

.sitemap li ul li a {
  font-size: 12px;
  color: #000;
}

.sitemap li ul li ul li {
  margin: 5px 0;
}

.sitemap li ul li ul li a {
  font-size: 13px;
  color: #777;
}

.sitemap li a:hover {
  color: #093284;
}

.sitemap .fa {
  display: none;
}

.sitemap br {
  display: none;
}

/*========================================Page not found========================================*/
.msg-404 {
  position: relative;
  font-size: 22px;
  line-height: 34px;
  color: #a7a9ac;
  margin-bottom: 30px;
}

.menu-404 {
  /* background: #F8F8F8; */
  width: 95%;
  padding: 15px;
  margin-bottom: 20px;
  float: left;
}

.menu-404 a {
  display: block;
  margin: 0 auto;
}

/* ==========================================================================Helper classes========================================================================== */

/** Image replacement*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  /**text-indent: -9999px;*/
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/** Hide from both screenreaders and browsers: h5bp.com/u*/
.hidden {
  display: none !important;
  visibility: hidden;
}

/** Hide only visually, but have it available for screenreaders: h5bp.com/v*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/** Extends the .visuallyhidden class to allow the element to be focusable* when navigated to via the keyboard: h5bp.com/p*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/** Hide visually and from screenreaders, but maintain layout*/
.invisible {
  visibility: hidden;
}

/** Clearfix: contain floats** For modern browsers* 1. The space content is one way to avoid an Opera bug when the*    `contenteditable` attribute is included anywhere else in the document.*    Otherwise it causes space to appear at the top and bottom of elements*    that receive the `clearfix` class.* 2. The use of `table` rather than `block` is only necessary if using*    `:before` to contain the top-margins of child elements.*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.slicknav_menu {
  display: none;
}

.slicknav_nav .fa {
  display: none;
}

.slicknav_nav br {
  display: none;
}

/*==================================================Layout responsivo com Grid==================================================*/
.grid {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  -moz-box-sizing: border-box;
  align-items: center;
}

.grid:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

/* [class*="col-"] iframe {display: block;margin: 0 auto;width: 100%;max-width: 300px;height: 200px;border: 0;} */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.txtcenter {
  text-align: center;
}

.txtleft {
  text-align: left;
}

.txtright {
  text-align: right;
}

.pd {
  padding: 0;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

.fwidth {
  width: 100%;
}

.center-block {
  display: block;
  margin: 0 auto;
}

/*========================================Fancy Box - Lightbox========================================*/
#title-empresa h2 {
  font-size: 14px;
  background: #e9e9e9;
  padding: 4px 10px;
  line-height: 15px;
  color: #717171;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 10px 0;
  font-weight: 500;
  border-radius: 8px;
}

#title-keyword h3 {
  font-size: 12px;
  padding: 0 10px;
  line-height: 15px;
  color: #717171;
  text-decoration: none;
  margin: 0 0 10px 0;
  border-radius: 8px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-inner,
.fancybox-outer {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-iframe,
.fancybox-image {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url(images-fancy/fancybox_sprite.png);
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(images-fancy/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: url(images-fancy/blank.gif);
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(images-fancy/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

.fancybox-title {
  visibility: hidden;
  font: 400 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: 0 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: var(--color-primary);
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: var(--color-primary);
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-primary);
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

.active-menu-topo {
  font-weight: bold;
}

.active-menu-aside {
  color: #3f484e;
  background-color: rgba(33, 114, 179, 0.1);
  border-left: 2px solid #3f484e;
  font-weight: bold;
}

/* ==========================================================================BOTAO TOPO========================================================================== */
#scrollUp {
  box-sizing: content-box !important;
  bottom: 0;
  right: 30px;
  width: 50px;
  height: 45px;
  margin-bottom: -10px;
  padding: 10px 5px;
  font: 14px/20px sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 var(--color-primary);
  color: var(--color-primary);
  border-radius: 5px 5px 0 0;
  background-color: #3f484e;
  -webkit-transition: margin-bottom 150ms linear;
  -moz-transition: margin-bottom 150ms linear;
  -o-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
  margin-bottom: 0;
  color: var(--color-primary);
}

#scrollUp-active {
  display: none;
}

/*========================================Useful Rules========================================*/
.uc {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-center-v {
  align-items: center;
}

.flex-center-h {
  justify-content: center;
}

/*=======================================CUSTOM RULES=======================================*/
.border-radius {
  border-radius: 5px;
}

.hide-desk {
  display: none;
}

/* "BS" CORE (WIP) */

/* Margin sizes */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

/* Padding sizes */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

/* Sizes */
.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%;
}

.h-100 {
  height: 100%;
}

.mh-100 {
  max-height: 100%;
}

.w-75 {
  width: 75%;
}

.mw-75 {
  max-width: 75%;
}

.h-75 {
  height: 75%;
}

.mh-75 {
  max-height: 75%;
}

.w-50 {
  width: 50%;
}

.mw-50 {
  max-width: 50%;
}

.h-50 {
  height: 50%;
}

.mh-50 {
  max-height: 50%;
}

.w-25 {
  width: 25%;
}

.mw-25 {
  max-width: 25%;
}

.h-25 {
  height: 25%;
}

.mh-25 {
  max-height: 25%;
}

.w-0 {
  width: 0%;
}

.mw-0 {
  max-width: 0%;
}

.h-0 {
  height: 0%;
}

.mh-0 {
  max-height: 0%;
}

/* Font sizes */
.large {
  font-size: large;
}

.larger {
  font-size: larger;
}

.x-large {
  font-size: x-large;
}

.xx-large {
  font-size: xx-large;
}

.medium {
  font-size: medium;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.x-small {
  font-size: x-small;
}

.xx-small {
  font-size: xx-small;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.display-1 {
  font-size: 6rem;
}

.display-2 {
  font-size: 5.5rem;
}

.display-3 {
  font-size: 4.5rem;
}

.display-4 {
  font-size: 3.5rem;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

/* Text */
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* Display */
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
  color: var(--color-primary);
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.d-table-row {
  display: table-row;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

/* Horizontal Flex */
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Vertical Flex */
.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* Float */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

/* Position */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.t-50 {
  top: 50%;
}

.b-50 {
  bottom: 50%;
}

.l-50 {
  left: 50%;
}

.r-50 {
  right: 50%;
}

/* Responsive images */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Colors */
.text-dark {
  color: #343a40;
}

.text-light {
  color: #f8f9fa;
}

/* Image */
.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--color-primary);
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

/* Border radius */
.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

/* Borders */
.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

/* Clearfix */
.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

/* GRIDS */
/* GRID SYSTEM */
.grid {
  display: grid;
}

[class*="grid-col-"] {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-col-1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid-col-2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid-col-1-3 {
  grid-template-columns: 1fr 3fr;
}

.grid-col-3-1 {
  grid-template-columns: 3fr 1fr;
}

.grid-col-1-4 {
  grid-template-columns: 1fr 4fr;
}

.grid-col-4-1 {
  grid-template-columns: 4fr 1fr;
}

.grid-col-1-5 {
  grid-template-columns: 1fr 5fr;
}

.grid-col-5-1 {
  grid-template-columns: 5fr 1fr;
}

.grid-col-2-3 {
  grid-template-columns: 2fr 3fr;
}

.grid-col-3-2 {
  grid-template-columns: 3fr 2fr;
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  [class*="grid-col"]:not(.grid-col-3) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  [class*="grid-col-"] {
    grid-template-columns: 100%;
  }
}

/* GAP FOR FLEX and GRID ELEMENTS */
.gap-0 {
  gap: 0;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-60 {
  gap: 60px;
}

.gap-70 {
  gap: 70px;
}

.gap-80 {
  gap: 80px;
}

.gap-90 {
  gap: 90px;
}

.gap-100 {
  gap: 100px;
}

/* ROW GAP */
.rgap-0 {
  row-gap: 0;
}

.rgap-10 {
  row-gap: 10px;
}

.rgap-20 {
  row-gap: 20px;
}

.rgap-30 {
  row-gap: 30px;
}

.rgap-40 {
  row-gap: 40px;
}

.rgap-50 {
  row-gap: 50px;
}

.rgap-60 {
  row-gap: 60px;
}

.rgap-70 {
  row-gap: 70px;
}

.rgap-80 {
  row-gap: 80px;
}

.rgap-90 {
  row-gap: 90px;
}

.rgap-100 {
  row-gap: 100px;
}

/* COLUMN GAP */
.cgap-0 {
  column-gap: 0;
}

.cgap-10 {
  column-gap: 10px;
}

.cgap-20 {
  column-gap: 20px;
}

.cgap-30 {
  column-gap: 30px;
}

.cgap-40 {
  column-gap: 40px;
}

.cgap-50 {
  column-gap: 50px;
}

.cgap-60 {
  column-gap: 60px;
}

.cgap-70 {
  column-gap: 70px;
}

.cgap-80 {
  column-gap: 80px;
}

.cgap-90 {
  column-gap: 90px;
}

.cgap-100 {
  column-gap: 100px;
}

@media only screen and (max-width: 576px) {
  [class*="gap-"] {
    gap: 1.25rem;
  }
}

/* END GRIDS */

/* PLACE YOUR CSS HERE IN THE NAME OF CRUZ */

.column-count-2 {
  column-count: 2;
}

@media only screen and (max-width: 765px) {
  [class*="column-count-"] {
    column-count: 1;
  }
}

header ul[class*="sub-menu"].sub-menu-scroll {
  max-height: 400px;
  height: auto;
  overflow-y: scroll;
}

header #menu2 .dropdown .dropdown:hover > [class*="sub-menu"] {
  height: 200px;
  width: 98%;
  overflow-y: auto;
}

[data-video] {
  cursor: pointer;
  position: relative;
}

.ytvideo[data-video]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.ytvideo[data-video]::after {
  content: "\f16a";
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 70px;
  color: #333;
  text-shadow: 0px 0px 50px white;
  transition: all 150ms;
}

[data-video]:hover::after {
  color: red;
}

/*========================================CSS Mobile========================================*/

/* TABLET */
@media only screen and (min-width: 767px) and (max-width: 959px) {
  .wrapper {
    box-sizing: border-box;
    padding: 0 10px;
  }

  header .right a {
    margin: 0px 10px;
  }

  header .right {
    width: 100%;
    text-align: center;
  }

  header .logo {
    text-align: center;
    padding: 10px 0px;
  }

  header .logo img {
    margin-top: 10px;
  }

  header nav a {
    padding: 10px 0px;
    width: 142px;
  }

  article img {
    max-width: 100%;
  }

  .gallery li {
    margin: 4px;
  }

  .js .slicknav_menu {
    display: block;
    /* position: fixed; */
    z-index: 11;
    /* width: 100%; */
  }

  .js #menu {
    display: none;
  }

  .js #menu2 {
    display: none;
  }

  #servicosTabsDois .nav li a {
    padding: 10px;
  }

  .col-m-1 {
    width: 8.33% !important;
  }

  .col-m-2 {
    width: 16.66% !important;
  }

  .col-m-3 {
    width: 25% !important;
  }

  .col-m-4 {
    width: 33.33% !important;
  }

  .col-m-5 {
    width: 41.66% !important;
  }

  .col-m-6 {
    width: 50% !important;
  }

  .col-m-7 {
    width: 58.33% !important;
  }

  .col-m-8 {
    width: 66.66% !important;
  }

  .col-m-9 {
    width: 75% !important;
  }

  .col-m-10 {
    width: 83.33% !important;
  }

  .col-m-11 {
    width: 91.66% !important;
  }

  .col-m-12 {
    width: 100% !important;
  }

  .hide-tablet {
    display: none;
  }

  .topofixo {
    position: relative;
  }

  #header-block {
    display: none !important;
  }
}

/* Mobile */
@media only screen and (max-width: 765px) {
  .flex-colum-reverse {
    flex-direction: column-reverse;
  }

  .main .main__cover img {
    max-width: 200px !important;
  }

  h1 {
    font-size: 21px;
    margin-left: 10px;
  }

  .d-none-mobile {
    display: none;
  }

  .btn {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .topofixo {
    position: relative;
  }

  .owl-pagination {
    display: none;
  }

  header .topo .social {
    display: none;
  }

  .wrapper {
    box-sizing: border-box;
    padding: 0 10px;
  }

  header .logo a {
    margin: 0 auto;
  }

  header .logo {
    width: 100%;
    display: block;
    text-align: center;
  }

  header .logo img {
    max-width: 35%;
    margin: 0 auto;
  }

  header .right {
    width: 100%;
    text-align: center;
  }

  .topo .fright {
    float: none;
  }

  .topo {
    text-align: center;
  }

  article {
    width: 100%;
  }

  .gallery img {
    width: 100%;
  }

  .gallery li {
    width: 45%;
  }

  .thumbnails li {
    width: 100%;
  }

  .thumbnails {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .thumbnails img {
    width: 100%;
  }

  footer .wrapper {
    text-align: center !important;
  }

  .copyright-footer {
    text-align: center;
  }

  footer .menu-footer nav li {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    margin: 10px 0px;
    text-align: center;
    padding: 10px;
  }

  footer .menu-footer nav li:last-of-type {
    padding: 10px;
  }

  .contact-footer {
    float: none;
  }

  .copyright-footer .wrapper {
    text-align: center;
  }

  footer .social {
    float: none;
    width: 100%;
  }

  .copyright-footer .selos {
    float: none;
    margin: 10px 0px;
  }

  .copyright-footer .selos a {
    float: none;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
    margin: 10px 0px;
  }

  footer .social .social-icons {
    float: none;
    padding: 10px 0px;
    margin: 10px 0px;
    width: 100%;
    text-align: center;
  }

  .contact-footer {
    margin-right: 0;
  }

  .js #menu {
    display: none;
  }

  .js #menu2 {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }

  #servicosTabsDois .nav li a {
    padding: 8px;
    font-size: 13px;
    width: 100%;
  }

  .hide-mobile {
    display: none !important;
  }

  .contact {
    padding: 0;
  }

  .form {
    width: 100%;
  }

  .contact-form {
    float: none;
    width: 100%;
  }

  #header-block {
    display: none !important;
  }

  .barra-busca .btn,
  .barra-busca2 .btn {
    position: relative;
    box-sizing: border-box;
  }
}

/*=======================================VERSAO MOBILE PARA CELULARES PEQUENOS======================================*/
@media only screen and (max-width: 480px) {
  [class^="col-"] {
    width: 100%;
  }

  .content-img-fixos {
    display: flex;
    justify-content: center;
  }

  #slide-show {
    height: 880px !important;
  }
}

.topo-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-produtos {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-produtos h2 {
  font-size: 14px;
  font-weight: bold;
  color: var(--grey);
}

.title-produtos a {
  color: var(--dark);
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden !important;
}

@media only screen and (max-width: 748px) {
  .thumbnails-main li {
    width: 46%;
  }
}

.selos img {
  width: 80px;
  height: 40px;
}

/* CONTEÚDO CONTAINER */
.article-content {
  padding-bottom: 60px;
  line-height: 25px;
  position: relative;
  padding: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.article-content img {
  border-radius: 5px;
  transition: 0.8s;
}

.article-content img:hover {
  transform: scale(1.05);
}

.article-content strong {
  font-weight: bold;
  font-size: 1.1em;
}

.article-content p {
  padding-left: 10px;
  font-size: 1.01em;
  padding-right: 10px;
  font-family: var(--font-primary);
}

.article-content li {
  list-style: inside;
  margin-left: 20px;
  font-size: 1em;
  margin-top: 10px;
  font-family: var(--font-primary);
}

.article-content h2 {
  font-size: 1.8em;
  margin-left: 10px;
  text-transform: uppercase;
}

.article-content h3 {
  font-size: 1.3em;
  margin-left: 10px;
  color: #20577c;
}

.article-content h4 {
  font-size: 1.2em;
  margin-left: 10px;
  color: gray;
}

.article-content .img-right {
  float: right;
  mix-blend-mode: multiply;
  display: block;
  margin-left: 15px;
  width: 200px;
  border-radius: 5px;
}

.article-content .img-left {
  float: left;
  mix-blend-mode: multiply;
  display: block;
  margin-right: 15px;
  width: 200px;
  border-radius: 5px;
}

.article-content .img-center {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
}

.article-content .img-center img {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .img-center {
    flex-direction: column;
  }

  .cards-informativo {
    justify-content: center !important;
  }

  .article-content li {
    margin-left: 15px;
  }

  .article-content .img-right {
    margin: 0 auto;
    float: none;
    display: flex;
    justify-content: center;
  }

  .article-content .img-left {
    float: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .card-feature {
    width: 80% !important;
    margin: 5px auto !important;
  }

  .partners-company,
  .partners-company h2 {
    width: 100% !important;
  }

  .slick-track .clientes__item:nth-of-type(3),
  .slick-track .clientes__item:nth-of-type(4),
  .slick-track .clientes__item:nth-of-type(5) {
    background-color: var(--dark);
  }
}

.article-content a {
  cursor: pointer;
  color: #006fe6;
  font-weight: bold;
}

/* FIM CONTEÚDO CONTAINER */
/* DIV TABLE STYLE */
.table-style table {
  border-collapse: collapse;
  width: 100%;
}

.table-style th,
.table-style td {
  border: 1px solid #c0c0c0;
  padding: 8px;
  text-align: left;
}

.table-style th {
  background-color: #3850b3;
  color: var(--color-primary);
}

.table-style tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-style tr:hover {
  background-color: #d9e6f2;
}

.table-style {
  color: #000000cf;
  padding-left: 15px;
}

.title-table {
  text-align: center;
  color: black;
  font-size: 1.5em;
  font-family: "Open Sans";
}

.table-style td {
  color: #333;
}

/* FIM DIV TABLE STYLE */
/* TABLE 3 COLUNAS +*/
@media (max-width: 1024px) {
  .table-3-column th,
  .table-3-column td {
    font-size: 12px;
  }

  .table-3-column th {
    border: 1px solid #444141;
  }

  .table-3-column td:first-child {
    border-top: 1px solid #444141;
  }

  .table-3-column table:not(:nth-child(-n + 2)) {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0px 35px 0px;
    overflow-x: auto;
    display: block;
  }

  .table-3-column td,
  .table-3-column th {
    text-align: left;
  }

  .table-3-column table::-webkit-scrollbar {
    height: 10px;
  }

  .table-3-column thead {
    background-color: #118900;
    color: white;
  }

  .table-3-column td:hover {
    background-color: #d7d7d7;
  }
}

/*FIM TABLE 3 COLUNAS +*/

/* BUSCAS RELACIONADAS*/
.busca-relacionadas {
  width: 100%;
  padding: 10px 0;
  padding-top: 20px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

ul.relacionada {
  display: flex;
}

ul.relacionada li > a {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
  margin: 5px;
  display: block;
  border-radius: 5px;
  transition: 0.3s;
}

.busca-relacionadas b {
  margin-left: 7px;
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  .busca-relacionadas {
    flex-direction: column;
    align-items: flex-start;
  }
}

ul.relacionada a {
  padding: 10px;
  color: #000;
  transition: 0.2s ease-in-out;
}

ul.relacionada a:hover {
  background-color: #7472722b;
}

/* FIM BUSCAS RELACIONADAS*/

/* BREADCRUMB*/
ol.breadcrumb {
  display: flex;
}

li.breadcrumb-item {
  margin: 5px;
  font-size: 0.8em;
}

li.breadcrumb-item a::after {
  transition: 0.3s;
  content: "\f101";
  color: #fff;
  font-family: "FontAwesome";
  padding-left: 5px;
}

li.breadcrumb-item a:hover::after {
  padding-left: 8px;
}

li.breadcrumb-item a,
li.breadcrumb-item {
  color: #fff;
  display: flex;
  align-items: center;
}

li:last-child.breadcrumb-item {
  color: #ffffff;
  font-weight: 700;
}

.breadcrumb-item i.fa-solid.fa-house {
  color: var(--light);
  margin-right: 10px;
  font-size: 1.3em;
}

@media only screen and (max-width: 576px) {
  #breadcrumb :is([itemprop="title"], [itemprop="name"]) {
    display: inline-block;
    max-width: 80px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ul.relacionada li > a {
    display: inline-block;
    max-width: 80px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

div#breadcrumb {
  display: flex;
  min-height: 200px;
  background-color: var(--color-secundary);
  align-items: center;
}

div#breadcrumb h1 {
  color: #fff;
}

/* FIM BREADCRUMB */

/* produtos premium */
.thumbnails {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  list-style: none;
  list-style-type: none;
  text-align: center;
}

.thumbnails {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  text-align: center;
}

.thumbnails li img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.thumbnails h2 {
  font-size: 1.1em;
  padding: 8px 0px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  color: black;
  height: 42px;
}

.thumbnails {
  gap: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.thumbnails li {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  height: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.thumbnails li img {
  /* height: 300px; */
  object-fit: cover;
  transition: 0.3s ease-in-out;
  border-radius: 5px 5px 0px 0px;
}

.thumbnails li p {
  text-align: center;
  text-transform: uppercase;
  color: #666;
  font-weight: 400;
  font-size: 0.7em;
}

.thumbnails h2,
.thumbnails h3,
.thumbnails h4 {
  line-height: 13px;
}

.thumbnails h2 a,
.thumbnails h3 a,
.thumbnails h4 a {
  font-size: 11px;
  color: #2f4b71;
  font-weight: 700;
  line-height: 13px;
}

.thumbnails .botao-cotar {
  bottom: 0;
}

.botao:hover {
  background-color: #469b42;
}

.botao-cotar {
  background-color: var(--color-secundary);
  color: var(--light);
  margin-top: 10px;
  transition: 0.3s;
  border-radius: 5px;
  padding: 5px 15px;
}

.botao-cotar:hover {
  opacity: 0.8;
}

.padding-premium {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}

.box-produto p {
  font-family: var(--font-primary);
  font-size: 1.06em;
  line-height: 22px;
}

.box-produto h2 {
  font-family: var(--font-primary);
  font-size: 1.03em;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
}

.box-produto h3 {
  font-family: Libre Baskerville;
  font-size: 0.7em;
  line-height: 22px;
}

.box-produto {
  margin-top: 15px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.content-fixos {
  background-color: #9cb7d42e;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
}

.galeria-fixa {
  position: relative;
}

.box-img-random img {
  transition: 0.4s ease-in-out;
}

.box-img-random img:hover {
  transform: scale(1.03);
}

h2.h2-regioes {
  margin-top: 40px;
  margin-bottom: -5px;
}

.nav-topo > li:hover {
  transition: all 0.5s linear;
}

.nav-topo > li {
  border-radius: 10px;
}

a.link-sub-list {
  padding-left: 9.6px !important;
  padding-right: 18px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 13px !important;
}

a.link-list {
  padding: 15px !important;
  font-size: 10px !important;
}

a.link-sub-list.first-child {
  margin-top: 5px;
  text-align: left;
}

h1.title-galeria {
  font-size: 3.3em;
  border-bottom: 1px solid #00000029;
  color: #3f484e;
  text-align: center;
}

.col-lg-6.col-md-6.col-sm-12.p-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.cotacao-modal-header {
  min-height: auto;
}

.slick-prev:before,
.slick-next:before {
  color: var(--azul-solucs) !important;
}

.slick-prev:before {
  border-radius: 50px 0px 0px 50px;
}

.slick-next:before {
  border-radius: 0px 50px 50px 0px;
}

.box-produto p {
  margin-bottom: 30px;
  margin-left: 5px;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

ul.sitemap > li {
  font-size: 1.5em;
}

.content-random li {
  font-size: 1.1em;
  padding: 5px;
  list-style: inside;
}

button.botao-cotar.botao-artigo {
  width: 80%;
  margin: 0 auto;
  padding: 30px 10px;
}

i.fa.fa-envelope {
  margin-right: 10px;
}

.coluna-artigo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  #cotacao-modal .cotacao-modal-content {
    width: 100vw;
  }

  .thumbnails {
    grid-template-columns: 1fr 1fr;
  }

  .box-produto > .grid > .col-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .coluna-artigo {
    width: 100%;
  }

  .botao-artigo {
    display: none;
  }

  .botao-artigo-mobile {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    display: block;
  }

  .botao-mobile {
    display: block !important;
  }

  .thumbnails h2 {
    font-size: 0.8em;
  }

  .thumbnails li p {
    font-size: 0.7em;
  }

  .botao-cotar-mobile {
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0px;
    justify-content: center;
    align-items: center;
  }
}

.botao-mobile {
  display: none;
}

#cotacao-modal {
  z-index: 99999;
}

#cotacao-modal .cotacao-modal-content {
  margin: 80px auto;
}

.nav-topo i {
  color: var(--color-secundary);
}

ul.thumbnails.premium-rocadeiras-e-rotativas li {
  width: 47%;
}

h2.dark {
  font-size: 1.2em;
}

/* search bar */
.search input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: var(--grey);
  font: normal 14px / normal var(--primary-font);
}

.search {
  position: relative;
  width: 35%;
}

.search--topo button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.search button {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  color: var(--grey);
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* search bar */

.mapa {
  width: 100%;
  display: flex;
  margin-left: 5%;
  margin-bottom: 3%;
}

i.fa.fa-star {
  font-size: 24px;
  margin: 5px;
}

@media only screen and (max-width: 1024px) {
  .informacoes-anunciantes h3 {
    font-size: 1rem !important;
  }

  .flex-wrap-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section-content li p {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .header img {
    display: none;
  }

  .banner-home {
    display: none;
  }
}

/* Aqui começa a configuração da página contatos! */
.header .banner {
  padding: 20px 20px;
  color: white;
}

.banner p span {
  font-weight: 300;
  font-size: 14px;
}

/* Aqui começa a configuração da página contatos! */
.sobre-product div {
  padding: 0px;
  text-align: center;
}

.sobre-product .blue-div {
  color: white;
  background-color: var(--color-secundary);
  box-shadow: 0px 0px 15px 2px rgba(80, 80, 80, 0.304);
}

.user h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--second-color);
}

.sobre-product div img {
  width: 200px;
}

.user h3 {
  margin: 0;
}

.user > h3:first-of-type {
  margin-top: 20px;
  font-family: var(--font-primary);
  font-weight: bold;
}

.card-feature {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  flex-direction: column;
}

.card-feature img {
  height: 200px;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  .flex-wrap-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-contact {
    width: 100%;
  }

  .section-content li p {
    justify-content: center;
  }

  .banner-home {
    display: none;
  }
}

.content-card-feature {
  display: flex;
  height: 200px;
  flex-direction: column;
  width: 100%;
}

.grid-features {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
}

.grid-features .grid-item {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-features .grid-item img {
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 100%;
}

.grid-features .grid-item p {
  font-size: 16px;
  margin: 10px 0px 20px 0px;
  text-align: left !important;
}

@media only screen and (max-width: 1024px) {
  .grid-features {
    grid-template-columns: auto auto;
  }

  .grid-features .grid-item {
    margin-top: 20px;
  }
}

.grid-item-mark {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-company {
  align-items: center;
  justify-content: center;
}

.partners-company a {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  padding: 10px 60px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.partners-company a:hover {
  background-color: var(--dark);
}

/* READMORE */
.ReadMore {
  position: relative;
  height: 200px;
  /* Altura fixa para mostrar apenas os primeiros 200px */
  overflow: hidden;
}

.ReadMore.collapsed::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  /* Altura do gradiente de apagamento */
  background: linear-gradient(to bottom, transparent, white);
}

.readmore-button {
  display: inline-block;
  color: var(--color-secundary);
  padding: 8px 20px;
  border: 1.5px solid var(--color-secundary) !important;
  border-radius: 8px;
  transition: 0.3s;
}

.readmore-button a {
  color: var(--color-secundary);
}

.readmore-button:hover {
  background-color: var(--color-secundary);
}

.readmore-button:hover a {
  color: #fff;
}

/* FIM READMORE */

.custom-shape-divider-bottom-1707920312 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707920312 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 251px;
}

.custom-shape-divider-bottom-1707920312 .shape-fill {
  fill: var(--color-primary);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1707920312 svg {
    width: calc(100% + 1.3px);
    height: 135px;
  }
}

.content-banner-mobile {
  width: 100%;
  background-image: url("../imagens/wavesOpacity-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  /* Ajuste conforme necessário */
  margin-top: -1px;
  z-index: 1;
}

.header-text-mobile h1 {
  margin-top: 20px;
  margin: 0px;
}

.header-text-mobile {
  color: white;
  font-size: 1rem;
  /* Ajuste conforme necessário */
  /* Espaço entre o texto e a imagem de ondas */
}

.header-mobile p {
  margin-bottom: 20px;
}

/* new home */
.title-underline.text-center,
.title-underline.text-center::after {
  margin-left: auto;
  margin-right: auto;
}

.title-underline::after {
  content: "";
  display: block;
  width: 25%;
  min-width: 3rem;
  height: 0.25rem;
  margin-top: 0.5rem;
  background-color: #000;
  border-radius: 999px;
}

.item-slide {
  margin: 10px;
}

.about {
  gap: 50px;
}



.about div {
  position: relative;
}

.about div p {
  font-size: 15px;
}

.about div:first-child::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: calc(100% + 1.5rem);
  right: 0;
  background-color: #0004;
}

@media screen and (min-width: 576px) {
  .about div:first-child::after {
    width: 2px;
    height: 100%;
    top: 0;
    right: -1.6rem;
  }

  .about h1.about__title {
    /* text-align: right; */
  }

  .about div :is(h1, p) {
    text-align: unset;
  }
}

.bread__minisite {
  color: #fff;
}

.card.card--overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 1.25rem;
  background-color: var(--dark);
  overflow: hidden;
}

.card.card--overlay > * {
  position: relative;
  z-index: 1;
}

.card.card--overlay .card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  background-color: #fff;
  transition: var(--transition);
  opacity: 0.3;
}

.card.card--overlay:hover .card__image {
  opacity: 0.6;
  transform: scale(1.1);
}

.card.card--overlay .card__title {
  margin: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: var(--transition);
}

.card.card--overlay .card__title::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  background-color: currentColor;
  margin: 0rem auto;
  transition: var(--transition);
}

.card.card--overlay:hover .card__title::after {
  margin: 0.5rem auto;
  width: 25%;
  height: 0.25rem;
  border-radius: 9999px;
}

.card.card--overlay .card__action {
  height: 0rem;
  transform: translateY(4rem);
  opacity: 0;
  transition: var(--transition);
}

.card.card--overlay:hover .card__action {
  height: 1.25rem;
  transform: translateY(0);
  opacity: 1;
  color: #fff;
}

.content-banner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}


.content-banner h1 {
  color: var(--light);
  font-size: 5em;
  letter-spacing: 16px;
}
.content-banner h2{
  color: var(--light);
  font-size: 2.5em;
  letter-spacing: 3px;
}

.content-banner p {
  color: var(--light);
  font-size: 1.2em;
}


.socials-home i {
  color: white;
  padding: 10px;
  border: 1px solid #ffffff4d;
  border-radius: 10px;
  font-size: 2em;
  transition: 0.5s;
}

.socials-home i:hover {
  transform: translateY(-5px);
  color: var(--dark);
  background-color: var(--light);
}

.content-index {
  display: flex;
  flex-direction: column;
}

.content-index section {
  margin-top: 2rem;
}

.content-index .block-1-content {
  display: flex;
  margin-top: 10px;
}

.content-index .block-1-content > div p {
  font-size: 0.9em;
  color: var(--dark);
  font-family: var(--font-primary);
}

.content-index .block-1-content > div h1 {
  font-weight: bold;
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.clientes__carousel {
  padding: 0 16px;
}

.clientes__carousel .slick-arrow::before,
.clientes__carousel .slick-arrow::after {
  color: var(--dark) !important;
}

.clientes__item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 8px;
  margin: 0 10px;
  background-color: #fff;
}

.clientes__image {
  max-width: 100%;
  max-height: 100%;
}

.clientes .slick-next {
  right: -10px !important;
}

.clientes .slick-prev {
  left: -10px !important;
}

.produto {
  padding: 20px;
  background: linear-gradient(
    141deg,
    var(--light) 53.29%,
    var(--color-primary) 81.42%
  );
}

.d-flex.align-items-center.justify-content-between {
  margin-top: 5px;
  margin-bottom: 5px;
}

.col-3.box-img-random.overflow-hidden {
  width: 100%;
}

.box-produto .grid .col-9 {
  width: 100%;
}

body
  > main
  > section:nth-child(3)
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(9) {
  background-color: var(--dark);
}

.title-search-page {
  font-size: 1.8em;
}

.search.my-5 {
  display: flex;
}

.button-group {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(-10%, -50%);
  right: 0;
  padding: 0 1em;
  gap: 10px;
}

.search.my-5 input {
  padding: 20px;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.search-content.search-active ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-content.search-active ul li {
  display: flex;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 23%);
  margin: 15px;
  width: 30%;
  justify-content: center;
  align-items: center;
  transition: scale 350ms ease, opacity 350ms linear;
}

.search-content.search-active ul li a {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.search-content.search-active ul li:hover {
  transition: 0.7s ease;
  background-color: var(--color-secundary);
}

.search-content.search-active ul li a:hover {
  color: #f9f9f9;
}

@media only screen and (max-width: 765px) {
  .search-content.search-active ul li {
    width: 40%;
  }

  .search-content.search-active ul li a {
    padding: 0;
  }
}

.mpi-page {
  margin: 20px auto;
}

.product-container {
  display: flex;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 8px #8181814a;
  padding: 24px;
  border-radius: 1rem;
}

.product-information h2{
  text-transform: uppercase;
}
.product-information {
  padding: 24px;
  width: 65%;
}

.product-aside {
  width: 35%;
  border-left: 2px solid #dde7f5;
}

/* Section images */
.product-container-image {
  display: flex;
}

.product-image-aside {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-image-aside-item {
  width: 100%;
  margin: 10px auto;
  box-shadow: 0px 0px 8px #8181814a;
  border-radius: 1rem;
}

.product-image-aside-item {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-image-aside-item img {
  transition: 0.5s ease;
}

.product-image-aside-item:hover img {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.product-image-aside-item a {
  padding: 10px;
}

.product-image {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 75%;
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: 0.5s linear;
  cursor: pointer;
}

.product-image img:hover {
  transition: 0.5s linear;
  transform: scale(1.1);
}

.product-aside-infos {
  border-left: 2px;
  padding-left: 24px;
}

.product-aside-infos h2 {
  text-transform: uppercase;
  font-size: 2em;
}

.product-aside-infos .nivel-de-procura {
  font-size: 1.2rem;
}

.product-aside-infos .botao-cotar {
  font-size: 1.2rem;
  width: 100%;
  padding: 20px 0px;
}

.product-aside-card {
  margin-top: 32px;
  display: flex;
}

.product-aside-card h3,
.product-aside-card p {
  margin: 0px;
}

.product-aside-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-right: 16px;
}

.article-content {
  box-shadow: none !important;
}

.produtos-populares {
  margin-top: 32px;
  border-radius: 1rem;
  padding: 24px;
  box-shadow: 0px 0px 8px #8181814a;
  background-color: #fff;
}

.produtos-populares h2 {
  margin: 0px;
  margin-bottom: 24px;
}

.produtos-populares-container-cards {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.produtos-populares-card {
  min-width: 240px;
  max-width: 360px;
  width: 300px;
  text-align: center;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #dde7f5;
  border-radius: 1rem;
  width: 23%;
  padding: 20px;
  margin: 10px 0px;
}

.produtos-populares-cod {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.produtos-populares-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.produtos-populares-card p {
  margin: 0 auto;
  text-align: center;
  color: var(--dark);
}

.produtos-populares-card {
  transition: 0.5s ease;
}

.produtos-populares-card:hover {
  transition: 0.5s ease;
  transform: scale(1.04);
}

@media only screen and (max-width: 1024px) {
  .product-container {
    flex-direction: column;
  }

  .product-aside-infos {
    padding: 0px;
  }

  .product-aside {
    border: none;
    border-top: 2px solid #dde7f5;
  }

  .product-information,
  .product-aside {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .product-information {
    padding: 0px;
  }

  .product-container-image {
    display: flex;
    flex-direction: column-reverse;
  }

  .product-image-aside {
    flex-direction: row;
  }

  .product-image-aside,
  .product-image {
    width: 100%;
  }

  .product-image-aside {
    justify-content: center;
  }

  .product-image-aside-item {
    max-width: 64px;
    height: 64px;
  }

  .thumbnails-products li {
    width: 80%;
  }
}

@media only screen and (max-width: 360px) {
  .product-image-aside .product-image-aside-item:last-child {
    display: none;
  }

  .produtos-populares-card {
    min-width: 100%;
  }

  ol.breadcrumb {
    flex-wrap: wrap;
  }
}

.produtos-populares-cod .fa-fire {
  color: #ffac1e !important;
}

.thumbnails-products {
  justify-content: center;
}

.thumbnails-products li {
  padding: 0px;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0px;
  box-shadow: 0px 0px 8px #8181814a;
  margin: 20px 10px;
  width: 240px;
}

.thumbnails-products li p {
  font-size: 16px;
}

.sobre-nos {
  background-color: #fff;
  margin: 30px auto;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #8181814a;
  max-width: 96%;
}

.contact-footer p {
  margin-bottom: 0px;
}

.contato {
  max-width: 96%;
  display: flex;
  background-color: #fff;
  margin: 30px auto;
  padding: 0px 20px;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #8181814a;
}

.contato-formulario {
  width: 75%;
}

.aside-contato {
  width: 25%;
}

.aside-contato p {
  margin: 0px;
}

.card-contato {
  margin: 20px 0px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: left !important;
}

.card-contato span {
  display: flex;
  align-items: center;
}

.contato-formulario {
  padding: 20px;
  border: 1px solid #ced4da;
  margin: 20px 20px 20px 0px;
  border-radius: 1rem;
}

.card-contato span i {
  margin-right: 10px;
}

@media only screen and (max-width: 765px) {
  .contato {
    flex-direction: column;
  }

  .contato-formulario,
  .aside-contato {
    width: 100%;
  }
}

ol.breadcrumb {
  background-color: transparent !important;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "" !important;
}

.breadcrumb {
  padding: 0px !important;
  margin: 0px !important;
}

li.breadcrumb-item a,
li.breadcrumb-item {
  display: block;
}

.breadcrumb a {
  text-decoration: none !important;
}

div#breadcrumb h1 {
  font-weight: bold !important;
}

.bread__title {
  text-transform: capitalize;
}
.product-aside-card-info h3 {
  font-size: 1rem;
}
/* Modal */
.modal-orcamento {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 9999;
  left: 0;
}
.modal-orcamento-close {
  display: none;
}
.modal-orcamento-background {
  background-color: #5a5a5a13;
  backdrop-filter: blur(1px);
  position: fixed;
}

.modal-orcamento-form {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 0px 8px #3131317c;
  width: 96%;
  max-width: 1044px;
  z-index: 9999;
  display: flex;
  height: 95%;
  border-radius: 1rem;
  animation: 1s aparecer-modal cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes aparecer-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-orcamento-form-left {
  0% {
    border-radius: 1rem 0px 5rem 1rem;
  }
  100% {
    border-radius: 1rem 0px 0px 1rem;
  }
}
.modal-orcamento-form-left {
  width: 35%;
  background-color: var(--color-secundary);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem 0px 0px 1rem;
  color: #fff;
  box-shadow: 2px 0px 2px #3131313d;
  animation: 2s modal-orcamento-form-left
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-orcamento-form-left h3 {
  color: #fff;
}

.modal-orcamento-form-right {
  width: 65%;
  padding: 20px;
  border-radius: 1rem;
  overflow: scroll;
}

.modal-orcamento-form-right span i {
  color: #ff0000;
}
.modal-orcamento-form-right > div {
  width: 100%;
}
.close-modal-orcamento {
  position: absolute;
  right: 0;
  margin-right: 30px;
  cursor: pointer;
}
.modal-orcamento-form-right h3 {
  font-size: 1.5rem;
}
.btn-success {
  background-color: var(--color-secundary) !important;
  border: var(--color-secundary) !important;
}
.form-control {
  max-height: 180px !important;
}
.secundary-color-orcamento {
  color: var(--color-secundary);
}

@media only screen and (max-width: 765px) {
  .modal-orcamento-form {
    flex-direction: column;
    height: auto;
  }
  .modal-orcamento-form-left,
  .modal-orcamento-form-right {
    width: 100%;
  }
  .modal-orcamento-form-left svg,
  .modal-orcamento-form-contact {
    display: none;
  }
  .modal-orcamento-form-left {
    border-radius: 0rem 0px 1rem 1rem;
  }
  .modal-orcamento-form-left h2 {
    font-size: 1.5rem;
  }
}
body
  > main
  > div.container
  > div
  > section
  > div
  > div
  > div.d-flex.align-items-end.flex-column {
  text-align: center;
  align-items: center;
}
.principais-compradores {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #31313131;
  margin: 20px auto;
  width: 95%;
  display: flex;
}

.principais-compradores > div {
  padding: 16px;
  width: 50%;
}

.principais-compradores .principais-compradores-infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.principais-compradores-infos h2 {
  font-size: 2rem;
}
.principais-compradores-infos h2 span {
  color: var(--color-secundary);
}

.principais-compradores .principais-compradores-img {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-evenly;
  justify-content: space-evenly;
  align-items: end;
  justify-items: end;
}

.principais-compradores .principais-compradores-img img {
  filter: grayscale(1);
  transition: 0.5s;
  cursor: pointer;
}

.principais-compradores .principais-compradores-img img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
  transition: 0.5s;
}

.principais-compradores .principais-compradores-button {
  background-color: var(--color-secundary);
  padding: 10px;
  color: #fff;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.principais-compradores .principais-compradores-button:hover {
  transform: scale(1.005);
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .principais-compradores {
    flex-direction: column;
  }

  .principais-compradores > div {
    width: 100%;
  }
}

@media (max-width: 744px) {
  .principais-compradores .principais-compradores-img {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-image img {
    width: 250px;
    height: 250px;
  }
}

/* Imagens MPI */
.product-image-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.product-image-bottom-item {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: center;
  box-shadow: 0px 0px 8px #31313131;
  border-radius: 1rem;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}
.product-image-bottom-item img{
  transition: 1s;

}
.product-image-bottom-item:hover img{
 transform: scale(1.05);
 transition: 1s;
}