
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --color-white-background: #fff;
    --color-blue-background: #F2F4FF;
    --color-black-pantone: #2d2d2f;
    --color-blue-low: #2d2d2f;
    --color-blue-maxlow: #DDE7F5;
    --color-green: #148931;
    --color-subtitle: #707070;
}



.main-tag-content {
    background-color: var(--color-blue-background);
    font-family: "Poppins", sans-serif;
}
.container-main-produtos {
    margin-top: -10px;
    padding: 20px 0px;
}
.mobile-line{
    display: none;
}
.anuncio-principal {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: var(--color-white-background);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.content-anuncio-principal {
    width: 70%;
}
.content-produtos {
    width: 100% !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.content{
    padding-bottom: 0px !important;
}

/* IMAGENS */
.columm-imagens {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img-box {
    display: flex;
    align-items: center;
    object-fit: contain;
    width: 70px;
    height: 70px;
    padding: 1px 1px;
    border: 2px solid var(--color-blue-maxlow);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}
.img-box > img {
    width: 100%;
}

.img-box:hover {
    border: 2px solid var(--azul-solucs);
}

.imagens-anuncio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem-principal-anuncio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin: 0 auto;
}

.imagem-principal-anuncio > a > img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    transition: 0.6s;
}
.imagem-principal-anuncio > a > img:hover{
    transform: scale(1.1); 
    transition: 0.6s;
}

.description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.h2-description {
    font-size: 30px;
    font-weight: 500;
    color: var(--azul-solucs);
}
.p-description {
    max-width: 90%;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-subtitle);
}


/* ASIDE */
.especificacoes-anuncio-principal {
    border-left: 2px solid var(--color-blue-maxlow);
    width: 30%;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.h1-title-anuncio {
    font-size:  28px;
    color: var(--azul-solucs);
    font-weight: 600;
}
.p-nivel-de-procura {
    font-size: 17px;
    color: var(--color-blue-low);
    font-weight: 600;
}
#span-nivel-de-procura {
    font-weight: 600;
    color: var(--azul-solucs);
}

.l-aside {
    display: flex;
    flex-direction: column;
}

.op-aside {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.caracteristicas-produto {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.espec-tecnicas {
    margin-top: 20px;
}
.p-side {
    border-radius: 4px;
    padding: 5px;
    border: 1px solid var(--color-blue-maxlow);
    font-size: 13px;
    cursor: pointer;
}
.p-side-active{
    background-color: var(--azul-solucs);
    color: #fff;
}
.ptitle-side {
    font-size: 17px;
    color: var(--color-blue-low);
    font-weight: 600;
}

.h2-espec-tecnicas {
    font-size: 17px;
    color: var(--color-blue-low);
    font-weight: 600;
}
.ul-espec-tecnicas {
    margin-top: 20px;
}
.ul-espec-tecnicas > a{
 font-weight: 500;
 font-size: 16px;
 color: blue;
 margin-top: 25px;
 text-decoration: dashed;
}

.botao-cotar-mobile {
    margin: 5px 0px;
    width: 100%;
    background-color: var(--azul-solucs);
    padding: 15px 0px;
    font-size: 1.4em;
    font-weight: 400;
    border-radius: 8px;
    color: var(--color-white-background);
    border: 0px;
    cursor: pointer;
    transition: 0.8s;
}
.botao-cotar-mobile:hover {
    background-color: var(--azul-solucs);
}




.icons-anuncio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.icon-aside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}
.icon-aside > img {
    width: 40px;
    height: 40px;
}

.text-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-icon > h2 {
    font-size: 15px;
    color: var(--color-blue-low);
}
.text-icon > p {
    font-size: 14px;
    color: var(--azul-solucs);
}

aside p{
    background-color: transparent;
    text-align: left;
}
/* ANUNCIO SECUNDARIO */

.anuncio-secundario {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: var(--color-white-background);
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.anuncio-secundario h2{
    color: var(--azul-solucs);
}
.tables-category {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.produtos-vistos {
    padding: 5px 10px;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}

.produtos-vistos > p {
    font-size: 15px;
    color:  var(--azul-solucs);
}
.produtos-galeria {
    padding: 5px 10px;
    border: 1px solid var(--color-subtitle);
    border-radius: 8px;
    cursor: pointer;
}

.produtos-galeria > p {
    font-size: 15px;
    color: var(--color-subtitle);
}

.produtos-vistos-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.card-produtos-vistos {
    border: 1px solid var(--color-blue-maxlow);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    min-width: 180px;
    max-width: 27%;
}

.cod-produto {
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: space-between;
}
.p-card-produto-vistos {
    font-size: 15px;
    color: var(--color-blue-low);
}

.btn-produtos-vistos {
    width: 90%;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    border: 0px;
    background-color: var(--azul-solucs);
    color: var(--color-white-background);
    cursor: pointer;
    transition: 0.8s;
}

.btn-produtos-vistos:hover {
    background-color: var(--azul-solucs);
}

.product-anuncio{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anuncio-paginas-relacionadas {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20;
    align-items: center;
    flex-direction: column;
}

.article-paginas-relacionadas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.h2-paginas-relacionadas {
    font-size: 25px;
    color: var(--azul-solucs);
}
.paginas-relacionadas-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
}

.card-pagina-relacionada {
    border: 1px solid var(--color-blue-maxlow);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-height: 350px;
    gap: 10px;
    min-width: 190px;
    max-width: 15%;
}
.card-pagina-relacionada > img {
    width: 100%;
}

.p-pagina-relacionada {
    text-align: center;
    font-size: 15px;
    color: var(--color-black-pantone);
    font-weight: 500;
}
.card-pagina-relacionada > a {
    text-align: center;
    width: 90%;
    padding: 10px 0px;
    border: 0px;
    border-radius: 8px;
    background-color: #5E84BD;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: var(--color-white-background);
    transition: 0.5s;
    margin-bottom: 10px;
}
.card-pagina-relacionada > a:hover{
    background-color: #6f9fe9;
    transition: 0.5s;
}
.region-content {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
}

@media only screen and (max-width:1024px) {
    .card-pagina-relacionada{
        max-width: 250px;
    }
    .card-produtos-vistos{
        max-width: 250px;
    }
    .tables-category{
        margin-top: 30px;
    }
    .anuncio-principal{
        justify-content: center;
        flex-direction: column-reverse;
    }
    .content-anuncio-principal{
        width: 100%;
    }
    .caracteristicas-produto{
        display: flex;
        flex-direction: row;
    }
    .especificacoes-anuncio-principal{
        border-left: none;
        padding: 10px 0px; 
        width: 100%;
        margin: 0px;
    }
    .icons-anuncio{
        flex-direction: row;
    }
}
@media only screen and (max-width:765px) {
    .anuncio-secundario h2{
        text-align: center;
    }
    .article-paginas-relacionadas{
        display: block !important;
        text-align: center;
    }
    .mobile-line{
        display: block;
    }
    .imagem-principal-anuncio{
        padding: 0px;
    }
    .imagem-principal-anuncio > a > img{
        width: 100%;
    }
    .paginas-relacionadas-card{
        justify-content: center;
    }
    .tables-category{
        justify-content: center;
    }
    .imagens-anuncio{
        flex-direction: column-reverse;
    }
    .columm-imagens{
        margin-top: 10px;
        flex-direction: row;
    }
    .card-produtos-vistos{
        max-width: 250px;
    }
    .produtos-vistos-container{
        justify-content: center;
    }
    .icons-anuncio{
        flex-direction: column;
    }
    .card-pagina-relacionada{
        margin: 5px;
    }
}
@media only screen and (max-width:425px) {
    .caracteristicas-produto{
        flex-direction: column;
    }
    div.columm-imagens > div:nth-child(4),div.columm-imagens > div:nth-child(3){
        display: none;
    }
}


.light-box-shadow{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12)
}
.bold-box-shadow{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12)}


    h2.color-primary-mpi {
        margin-top: 50px;
    }
    .card-produtos-vistos img{
        width: 200px;
        height: 200px;
        object-fit: contain;
      }